################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tetris/Tetris/bin/Debug/netcoreapp3.1
/Tetris/Tetris/obj/Debug/netcoreapp3.1/Tetris.dll
